/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-pixabay-image-selector {
	background-color: #fff;
	color: #333;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

	h3 {
		margin-top: 0;
	}

	h4 {
		margin-top: 20px;
	}

	.image-container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 10px;
	}

	img {
		width: 300px;
		height: 300px;
		object-fit: cover;
		border-radius: 5px;
	}
}

